html, body {
  height: 100%;
}

.text-center {
  height: 90vh;
}

.form-group {
  width: 100%;
  max-width: 330px;
  margin: auto;
  padding-top: 120px;
}
.form-group .checkbox {
  font-weight: 400;
}
.form-group .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-group .form-control:focus {
  z-index: 2;
}
.form-group input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-group input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
